*{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
}
.container{
    height:100%;
    min-height:100%;
    position:relative;
}

.main{
    overflow:auto;
    padding-bottom: 240px;
}
#footer{
    position: relative;
    height:130px;
    clear:both;
    width: 100%;   
}
.avatar{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}